In [82]:
import sqlalchemy as sqla
import pandas as pd

In [100]:
# Chose the DB 'postgresql+psycopg2://postgres:123456@localhost:5432/GEO2020'
db_input = input ("What database should we use?\n\n") 
# The following data uses data connected at our database

# Create the sqlalchemy engine
db_engine = sqla.create_engine(db_input) #is taken by pd.read_sql_query function later on

citysimOutput = input("Output location?\n\n") #'C:\Users\JINYUZHEN\Desktop\study\GEO2020\Python\DATABASE_citysim.cli'

# Test connection
try:
    db_connection = db_engine.connect()
except Exception as exc:
    print("\nCouldn't connect to the database\n")
    try:
        print(exc.message, exc.args)
    except:
        pass
    sys.exit()

What database should we use?

 postgresql+psycopg2://postgres:123456@localhost:5432/GEO2020
Output location?

 C:\Users\JINYUZHEN\Desktop\study\GEO2020\Python\DATABASE_citysim.cli

In [131]:
weather_parameter = pd.read_sql_query("SELECT * FROM weather.weather_parameters", db_engine)
weather_location = pd.read_sql_query("SELECT * FROM weather.weather_location", db_engine)

In [169]:
# Chose the weather station 'Twenthe Enschede AP'
station_input = input ("What weather station should we use?\n\n")

What weather station should we use?

 emmmdd

In [170]:
# Check if the input station exist in Dataframe
res = weather_location.isin([station_input]).any().any()
while not res:
    station_input = input("This weather station does not exist in Dataframe, type another one\n\n")
    res = weather_location.isin([station_input]).any().any()
print("This weather station exists in Dataframe")

This weather station does not exist in Dataframe, type another one

 delft
This weather station does not exist in Dataframe, type another one

 Twenthe Enschede AP

This weather station exists in Dataframe

In [104]:
weather_parameter_df = weather_parameter.loc[weather_parameter['reference'] == station_input]
G_Dh_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Diffuse Horizontal Radiation'].reset_index()
G_Bn_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Direct Normal Radiation'].reset_index()
Ta_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Dry Bulb Temperature'].reset_index()
Ts_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Dry Bulb Temperature'].reset_index()
FF_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Wind Speed'].reset_index()
DD_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Wind Direction'].reset_index()
RH_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Relative Humidity'].reset_index()
RR_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Liquid Precipitation Depth'].reset_index()
N_df = weather_parameter_df.loc[weather_parameter_df['attribute'] == 'Total Sky Cover'].reset_index()

In [105]:
df_citysim_col = ['dm', 'm', 'h', 'G_Dh', 'G_Bn', 'Ta', 'Ts', 'FF', 'DD', 'RH', 'RR', 'N']
df_citysim = pd.DataFrame(columns=df_citysim_col,index=range(8760))

In [173]:
dm = 0
h = 0
for i in range(8760):
    if (i % 24 == 0):
        dm = dm + 1
    df_citysim['dm'].iloc[i] = dm
    if dm < 32:
        df_citysim['m'].iloc[i] = 1
    if 32 <= dm < 60:
        df_citysim['m'].iloc[i] = 2
    if 60 <= dm < 91:
        df_citysim['m'].iloc[i] = 3
    if 91 <= dm < 121:
        df_citysim['m'].iloc[i] = 4
    if 121 <= dm < 152:
        df_citysim['m'].iloc[i] = 5
    if 152 <= dm < 182:
        df_citysim['m'].iloc[i] = 6
    if 182 <= dm < 213:
        df_citysim['m'].iloc[i] = 7
    if 213 <= dm < 244:
        df_citysim['m'].iloc[i] = 8
    if 244 <= dm < 274:
        df_citysim['m'].iloc[i] = 9
    if 274 <= dm < 305:
        df_citysim['m'].iloc[i] = 10
    if 305 <= dm < 335:
        df_citysim['m'].iloc[i] = 11
    if 335 <= dm < 366:
        df_citysim['m'].iloc[i] = 12
    if h == 24:
        h = 0
    h = h + 1
    df_citysim['h'].iloc[i] = h
    df_citysim['G_Dh'].iloc[i] = G_Dh_df['value'].loc[0][i]
    df_citysim['G_Bn'].iloc[i] = G_Bn_df['value'].loc[0][i]
    df_citysim['Ta'].iloc[i] = Ta_df['value'].loc[0][i]
    df_citysim['Ts'].iloc[i] = Ts_df['value'].loc[0][i]
    df_citysim['FF'].iloc[i] = FF_df['value'].loc[0][i]
    df_citysim['DD'].iloc[i] = DD_df['value'].loc[0][i]
    df_citysim['RH'].iloc[i] = RH_df['value'].loc[0][i]
    df_citysim['RR'].iloc[i] = RR_df['value'].loc[0][i]
    df_citysim['N'].iloc[i] = round(N_df['value'].loc[0][i] * 0.8)
df_citysim

       dm   m   h G_Dh G_Bn   Ta   Ts   FF     DD    RH   RR  N
0       1   1   1  0.0  0.0  5.0  5.0  5.0  171.0  84.0  0.0  0
1       1   1   2  0.0  0.0  5.0  5.0  4.0  178.0  83.0  0.0  1
2       1   1   3  0.0  0.0  5.4  5.4  4.0  186.0  83.0  0.0  7
3       1   1   4  0.0  0.0  6.7  6.7  4.0  199.0  80.0  0.0  7
4       1   1   5  0.0  0.0  6.5  6.5  4.0  214.0  82.0  0.0  7
...   ...  ..  ..  ...  ...  ...  ...  ...    ...   ...  ... ..
8755  365  12  20  0.0  0.0  6.9  6.9  6.0  220.0  86.0  0.0  8
8756  365  12  21  0.0  0.0  7.3  7.3  6.0  220.0  84.0  0.0  8
8757  365  12  22  0.0  0.0  7.8  7.8  6.0  220.0  84.0  0.0  8
8758  365  12  23  0.0  0.0  8.2  8.2  7.0  220.0  82.0  0.0  8
8759  365  12  24  0.0  0.0  8.4  8.4  7.0  220.0  83.0  0.0  8

[8760 rows x 12 columns]

In [107]:
df = weather_location.loc[weather_location['city'] == station_input]

In [108]:
header_1 = df['city'].loc[0]
header_2 = str(df['Latitude'].loc[0])+ "," +str(df['Longitude'].loc[0])+ "," + str(df['altitude'].loc[0])+ ","  + str(df['TimeZone'].loc[0])

In [110]:
output = "DATABASE_citysim.cli"
with open(citysimOutput, "w") as outfile:
    outfile.write(header_1)
    outfile.write("\n")
    outfile.write(header_2)
    outfile.write("\n")
    outfile.write("\n")
df_citysim.to_csv(citysimOutput, mode='a', index=False, header=True, sep='\t')